<tr id="<%= dom_id record %>">
  <td scope="col">
      <div class="row">
        <%= record.created_at.in_time_zone("America/New_York").strftime("%-m/%-d/%Y")%>
      </div>
      <div class="row">
      <% if record.is_running == true%>
      <%= button_to "Stop", record_path(record.id),
        params:{record:{id: record.id, is_running:false}}, 
        method: :patch, class:"btn btn-danger"%>
      <% else %>
          <span class="isrunning-false">
          <%= record.updated_at.in_time_zone("America/New_York").strftime("%-m/%-d/%Y")%>
          </span>
      <% end %>
      </div>
  </td>
  <td scope="col">
  <%= record.note %>
  </td>
 
  <td scope="col">
      <p>Start: <%= record.created_at.in_time_zone("America/New_York").strftime('%-I:%M %p') %></p>
      <p>End:
    <% if record.is_running == false %>
      <span class="isrunning-false"> <%= record.updated_at.in_time_zone("America/New_York").strftime('%-I:%M %p') %></span></p>
    <% end %>

  </td>
  <td scope="col">
      <%= button_to "x", record, method: :delete, class:"btn-secondqry btn" %>
  </td>
</tr>
